
*{
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 1px;
}

/*portfolio style*/

.back-wrapper{
    margin-top: 20px;
    margin-left: 20px;
}

.back{
    cursor: pointer;
}


main{
    font-family: "Questrial";
}

.link-main{
    text-decoration: none;
    color: black;
}

.h1-wrapper{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.paintings-wrapper{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.img-wrapper{
    display: flex;
    justify-content: center;
}

.name-wrapper{
    display: flex;
    margin-top: 15px;
    justify-content: center;
}

.ul{
    list-style: none;
    display: flex;
    font-size: 19px;
    margin-top: 15px;
}

.li{
    margin-right: 5px;
}

.name{
    font-family: "questrial";
    font-weight: lighter;
}

.work{
    margin-bottom: 100px;
}

.img-one{
    width: 600px;
    height: 400px;
}

.img-two{
    width: 400px;
    height: 500px
}

.img-three{
    height: 350px;
    width: 500px;
}

.img-four{
    width: 380px;
    height: 500px;
}

.img-five{
    width: 500px;
    height: 400px;
}

.img-six{
    width: 500px;
    height: 450px
}



@media(max-width: 580px){


    .ul{
        font-size: 15px;
    }
    .work{
        margin-bottom: 30px;
    }

    .img-one{
        width: 500px;
        height: 300px;
    }
    
    .img-two{
        width: 350px;
        height: 450px
    }
    
    .img-three{
        height: 300px;
        width: 450px;
    }
    
    .img-four{
        width: 300px;
        height: 420px;
    }
    
    .img-five{
        width: 400px;
        height: 350px;
    }
    
    .img-six{
        width: 400px;
        height: 350px
    }
}


@media(max-width: 495px){

    .ul{
        font-size: 13px;
    }

    .li{
    }

    .img-one{
        width: 450px;
        height: 250px;
    }
    
    .img-two{
        width: 300px;
        height: 400px
    }
    
    .img-three{
        height: 250px;
        width: 400px;
    }
    
    .img-four{
        width: 300px;
        height: 420px;
    }
    
    .img-five{
        width: 400px;
        height: 350px;
    }
    
    .img-six{
        width: 400px;
        height: 350px
    }
}

@media(max-width: 445px){

    .ul{
        font-size: 12px;
    }

    .img-one{
        width: 400px;
        height: 230px;
    }
    
    .img-two{
        width: 280px;
        height: 380px
    }
    
    .img-three{
        height: 250px;
        width: 370px;
    }
    
    .img-four{
        width: 280px;
        height: 380px
    }
    
    .img-five{
        width: 325px;
        height: 300px;
    }
    
    .img-six{
        width: 350px;
        height: 300px
    }
}

@media(max-width: 405px){

    .ul{
        font-size: 10px;
    }

    .img-one{
        width: 350px;
        height: 225px;
    }
    
    .img-two{
        width: 265px;
        height: 388px
    }
    
    .img-three{
        height: 230px;
        width: 330px;
    }
    
    .img-four{
        width: 280px;
        height: 380px
    }
    
    .img-five{
        width: 325px;
        height: 300px;
    }
    
    .img-six{
        width: 350px;
        height: 300px
    }
}

@media(max-width: 360px){

    .li{
        font-size: 11px;
    }

    .img-one{
        width: 310px;
        height: 195px;
    }
    
    .img-two{
        width: 245px;
        height: 358px
    }
    
    .img-three{
        height: 180px;
        width: 300px;
    }
    
    .img-four{
        width: 245px;
        height: 358px
    }
    
    .img-five{
        width: 315px;
        height: 300px;
    }
    
    .img-six{
        width: 320px;
        height: 270px
    }
}

@media(max-width: 346px){

    .li{
        font-size: 9px;
    }

    .img-one{
        width: 310px;
        height: 195px;
    }
    
    .img-two{
        width: 245px;
        height: 358px
    }
    
    .img-three{
        height: 180px;
        width: 300px;
    }
    
    .img-four{
        width: 245px;
        height: 358px
    }
    
    .img-five{
        width: 315px;
        height: 300px;
    }
    
    .img-six{
        width: 320px;
        height: 270px
    }
}